* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 320px;
    min-height: 400px;
    max-height: 600px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #6b6b6b;
}

.header-title-container {
    display: flex;
    gap: 4px;
    padding: 8px;
    align-items: center;
}

.header-title {
    font-size: 22px;
    font-weight: 600;
}

.header-logo {
    width: 30px;
    height: 30px;
}

.content-notlogged {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    height: 400px;
}

.content-desc {
    color: #404040;
    font-size: 17px;
}

.auth-button {
    padding: 10px 4px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    background-color: black;
    font-size: 15px;
    color: white;
    border: none;
}

.content-logged {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    height: 400px;
    overflow: auto;
}

td {
    padding: 5px;
}

.table-title {
    width: 100px;
    overflow: hidden;
    word-break: break-all;
}
